/**
 * Start app specific CSS
 */

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: #606c76;
  color: #3e4348;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.5rem;
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.container {
  margin: 0.5rem auto 0 auto;
  max-width: 75rem;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}

button {
  background-color: rgb(207,0,15);
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding: .5rem 1rem;
  margin-bottom: .5rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1rem;
  white-space: nowrap;
}
button:hover, button:focus {
  background-color: #606c76;
  color: #fff;
}
button[disabled] {
  opacity: 0.75;
  cursor: default;
}
button[disabled]:hover, button[disabled]:focus {
	opacity: 0.5;
}
/* Button that looks like link */
button.btn-plain {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(207,0,15);
    border: none;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    text-transform: none;
    line-height: inherit;
    margin: 0;
    height: auto;
}
button.btn-plain:hover, button.btn-plain:focus {
	color: rgb(150,40,27);
	text-decoration: underline;
	opacity: inherit;
}

fieldset {
	border: 1px solid rgb(221, 221, 221);
	margin: 0 0 1rem 0;
	padding: 0.5rem;
}
legend {
	padding: 0 0.5rem;
}
fieldset ul {
	margin: 0 0.5rem;
}
fieldset li:last-of-type {
	margin-bottom: 0.5rem;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='text'],
input[type='url'],
textarea,
select {
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  box-shadow: none;
  width: 100%;
}
textarea {
	min-height: 7.5rem;
}
textarea.large {
/* 	min-height: 21rem; */
}
input[type=file] {
	margin-bottom: 1.25rem;
}

label {
	font-weight: 500;
	display: block;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

a {
	color: rgb(207,0,15);
	text-decoration: none;
}
a:hover {
  color: rgb(150,40,27);
  text-decoration: underline;
}

dl,
ol,
ul {
	margin: 0;
	padding: 0;
}

dl {
  list-style: none;
}

ul {
  list-style: dot inside;
}
form ul  {
	list-style: none;
}
ul ul, ul ol, ol ul, ol ol {
	margin-left: 1rem;
}

ol {
  list-style: decimal inside;
}

dt,
dd,
li {
	margin: 0;
	padding: 0;
}
li:last-of-type {
	margin-bottom: 1.5rem;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

h1 {
	font-size: 2rem;
	line-height: 3rem;
	margin-bottom: 1rem;
	margin-top: .5rem;
}

h2 {
	font-size: 1.25rem;
	line-height: 1.75rem;
    margin: 0rem 0 1.25rem 0;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0 0 1.25rem 0;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: .25rem 0 1.25rem 0;
}


/*
	Page header/name and menu toggle	
*/			
.page-header {
	position: relative;
	display: flex;
	align-items: center;
}
h1 {
	flex: 4 1 auto;
}
.menu-open {
	flex: 1 4 auto;
	text-align: right;
}

/*
	Application actions menu	
*/
.app-actions {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.8s ease;
	position: relative;
}
.app-actions.open {
	max-height: 150px;
}
.dropdown-container {
	display: inline-block;
}
.dropdown {
	display: none;
	position: absolute;
	background-color: #fff;
	padding: 1.5rem;
	border: 2px solid rgb(207,0,15);
	border-radius: 4px;
	z-index: 50;
	max-width: 100%;
	box-shadow: 18px 20px 70px 1px rgba(0, 0, 0, 0.5);
}
.dropdown.open {
	display: block;
}
.dropdown ul {
	list-style-type: none;
}
.dropdown ul:empty:before {
	content: 'No characters saved.';
}
.dropdown ul li {
	margin-bottom: 1.5rem;
}
.dropdown ul li:last-of-type {
	margin-bottom: 0;
}

/* Larger than phone screen */
@media (min-width: 50.0rem) {
	.btn-open-actions {
		display: none;
	}
	.app-actions, .app-actions.open {
		display: block;
		max-height: none;
		overflow: visible;
	}
	.dropdown ul li {
		margin-bottom: 0;
	}
}

/*
	Alerts and dialogs
*/
/* All have this class */
.dialog {
	margin: 1rem auto;
	padding: 1.5rem;
	border: 2px solid rgb(207,0,15);
	border-radius: 4px;
	background-color: #fefefe;
	box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.5);
	display: none;
	width: auto;
	z-index: 100;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	min-width: 80%;
}
.dialog.open {
	display: block;
}
/* Close button */
.dialog button.close {
	float: right;
	margin: 1rem 0 0 1rem;
}
/* Alert for various things */
.alert-main {
	top: 2rem;
}
/* Help info */
#dialog_help {
	position: absolute;
	top: 2rem;
	z-index: 75;
}
/* unsaved changes alert */
.alert-unsaved {
	transform: none;
    bottom: 0;
    right: 0;
    left: initial;
    z-index: 125;
    font-weight: bold;
    color: rgb(207,0,15);
    font-size: 0.75rem;
    line-height: 1rem;
    padding: .25rem 1rem;
    min-width: initial;
    margin-right: 1rem;
}
#dialog-backup {
	position: absolute;
}
.dialog button.delete-conf {
    float: left;
    margin: 1rem 0 0 0;
}

@media (min-width: 50.0rem) {
	.dialog {
		margin: 2rem auto;
		padding: 1.5rem 3rem;
		min-width: 40%;
	}
	.alert-unsaved {
		font-size: 1rem;
		line-height: 1.5rem;
		padding: 0.75rem 1.5rem;
		right: 2rem;
		min-width: initial;
	}
	.alert-main, #dialog_help {
		max-width: 70rem;
		left: 50%;
		transform: translateX(-50%);
	}
}


/* Fields at top of page */
[contenteditable=true] {
	display: inline-block;
}
[contenteditable=true]:empty:before {
	content: attr(placeholder);
	color: #aaa;
}
[contenteditable=true]:empty {
	border: 1px dotted #bbb;
	border-radius: 4px;
}
.field [contenteditable=true] {
	min-width: 7rem;
}
.field [contenteditable=true]:empty {
	line-height: 1.4rem;
	min-height: 1.5rem;
}
.field .small[contenteditable=true] {
	min-width: 3rem;
}
.large[contenteditable=true] {
/* 	min-width: 15rem; */	
}
.smallarea[contenteditable=true] {
	min-width: 100%;
	margin-bottom: 1.5rem;
	min-height: 4.5rem;
}
.largearea[contenteditable=true] {
	min-width: 100%;
	margin-bottom: 1.5rem;
	min-height: 7.5rem;
}
.hidden {
	display: none;
}

dl.field {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: left;
	flex-wrap: wrap;
}
dl.field div {
	flex: 0 1 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: .5rem 1rem 1rem 0;
}
dl.field div.with_icon {
	margin-top: 0;
}
div.with_icon [contenteditable=true]:empty:before {
	line-height: 2.5rem;	
}
dl.field dt {
	display: inline-block;
	font-weight: 500;
	flex: 1 1 auto;
	text-align: left;
}
dl.field dd {
	display: inline-block;
 	margin: 0 0 0 2rem;
	flex: 2 1 auto;
}

dl.field dd:first-of-type {
	margin-right: 1rem;
}
dl.field dd:last-of-type {
	margin-right: 0rem;
}
span[data-name=hd_max] {
	text-align: right;
}

dd[data-name=armor_class] {
    background-image: url(images/shield.svg);
    background-repeat: no-repeat;
    height: 3rem;
    width: 2rem;
    text-align: center;
    background-position: center;
    line-height: 2.5rem;
}
span[data-name=hp_max] {
	background-image: url(images/heart.svg);
    background-repeat: no-repeat;
    height: 3rem;
    width: 4rem;
    color: rgb(255, 255, 255);
    text-align: center;
    background-position: center;
    line-height: 2.5rem;
}
span[data-name=hp_cur] {
	background-image: url(images/heart_broken.svg);
    background-repeat: no-repeat;
    height: 3rem;
    width: 4rem;
    color: rgb(207,0,15);
    text-align: center;
    background-position: center;
    line-height: 2.5rem;
}

/* Larger than phone screen */
@media (min-width: 50.0rem), print {
	dl.field {
		flex-direction: row;
		align-items: center;
	}
	dl.field div  {
		margin-right: 2rem;
	}
	
	.field-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.field-row.wrap {
		flex-wrap: wrap;
	}
	.field-column {
		flex: 1 1 auto;
		margin-right: 2rem;
	}
	.field-row.wrap .field-column {
		min-width: 20%;	
	}
	.field-column-33 {
		flex: 1 0 33%;
		padding-right: 2rem;
	}
	.field-column-50 {
		flex: 1 0 50%;
		padding-right: 2rem;
	}
}


/*
	Areas for attributes and skills	
*/
.pc-attributes, .pc-skills {
	list-style-type: none;
	font-size: 1.25rem;
	line-height: 1.75rem;
	margin: 0;
	padding: 0;
}
.pc-attributes li, .pc-skills li {
	margin-bottom: 1.25rem;
	white-space: nowrap;
}
.pc-attributes label {
	display: inline-block;
 	margin-right: 1rem;
 	width: auto;
}
.pc-attributes label:first-of-type {
 	width: 2rem;
}
.pc-skills label {
	display: inline-block;
 	margin-right: 1rem;
}
.pc-attributes input[type=number] {
	display: inline-block;
	margin-right: 1rem;
	width: 3rem;
	border: none;
	padding: 0;
}
.pc-attributes input[type=checkbox], .pc-skills input[type=checkbox] {
	width: auto;
	margin-right: 0.5rem;
	display: inline-block;
/* 	margin-left: 1rem; */
}
.pc-attribute-mod, .pc-save-mode {
	display: inline-block;
	margin-right: 1rem;
	font-weight: bold;
	min-width: 1.5rem;
	text-align: right;
}

ul[data-name=spells] li {
	display: block;
}

/*
	Footer
*/
footer {
	margin: 1rem 0;
	padding: .5rem;
	border-top: 1px solid rgb(96, 108, 118);
}

@media (min-width: 50.0rem) {
	footer {
		display: flex;
		align-items: baseline;
	}
	footer h4 {
		flex: 1 1 50%;
	}
	footer ul {
		flex: 1 1 50%;
	}
}


@media print {
   body {
      color: #000;
      background: #fff;
      font-size: 10px;
   }
   .app-actions, .btn-open-actions, .dialog, footer {
	   display: none;
   }
   h1 {
	   font-size: 1.25rem;
	   line-height: 1.5rem;
	   margin: .5rem 0 1rem 0;
   }
   h2, h3 {
   	font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 0 .5rem;
/*      page-break-after: avoid; */
   }
   dl.field div {
	   margin: 0 0 0.5rem 0;   
   }
   .pc-attributes, .pc-skills {
	   font-size: inherit;
	   line-height: inherit;
   }
   .pc-attributes li, .pc-skills li {
	   margin: 0 0 0 0;
   }
   .smallarea[contenteditable=true], .largearea[contenteditable=true] {
   	margin-bottom: .5rem;
   	min-height: 0;
   	display: block; /* somehow this makes a big difference with page breaks */
   }
}